@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;700;900&family=Rubik+Doodle+Shadow&family=Ubuntu:wght@300;400;500;700&display=swap');

@font-face {
    font-family: 'rejouice';
    src: url(/Animeted\ WebSite/font/Rejouice-Headline.woff2);
}

@font-face {
    font-family: 'heading1';
    src: url(/Animeted\ WebSite/font/heading1.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'rejouice', sans-serif;
    list-style: none;
    user-select: none;
}

body {
    height: 100%;
    width: 100%;
}

#loader {
    height: 100vh;
    width: 100%;
    background-color: #FF5F38;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 999;
}

#loader h2 {
    font-size: 6vw;
    scale: 0;
    opacity: 0;
}


#nav-bar {
    position: relative;
    width: 100%;
    transition: 2s;
    /* z-index: 4; */

}
.nav-container.active {
    transform: translateY(00vh);
}
.nav-container {
    opacity: 0;
    transform: translateY(-160vh);
    width: 100%;
    height: -100vh;
    overflow: hidden;
    background-color: #FF5F38;
    padding: 7vw 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
}
.nav-container .left-nav video::after {
    content: "'rejouice'";
    height: 7vw;
    width: 100%;
    color: black;
    background: black;
    position: absolute;
    top: -100px;
    left: 0;
}
.nav-container .left-nav video {
    width: 30vw;
    position: relative;
    scale: 0;
}
.nav-container .left-nav .video-con span {
    scale: 0;
    opacity: 0;
}
.nav-container .left-nav .video-con {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-container .right-nav {
    margin-right: 5vw;
}
.nav-container .right-nav ul {
    overflow: hidden;
    padding-right: 10vw;
}
.nav-container .right-nav ul li {
    font-size: 3vw;
    opacity: 0;
    scale: 0;
}
.nav-container .right-nav ul a.active {
    text-decoration: underline;
}
.nav-container .right-nav ul a:hover {
    text-decoration: underline;
}
.nav-container .right-nav ul a {
    text-decoration: none;
    color: black;
}
.nav-container .right-nav ul button {
    display: inline-block;
    background: transparent;
    color: rgb(0, 0, 0);
    padding: 15px 20px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin-top: 1.5vw;
    font-size: 1.2vw;
    outline: 0;
    cursor: pointer;
    position: relative;
    transition: 0.5s;
}
.nav-container .right-nav ul button:hover {
    background-color: black;
    color: white;
}
.nav-container .right-nav ul button:hover::before {
    width: 100%;
    color: white;
    opacity: 1;
}
.nav-container .right-nav ul button::before {
    content: "Take a seat";
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    background-color: rgb(0, 0, 0);
    position: absolute;
    overflow: hidden;
    width: 0px;
    height: 100%;
    top: 0px;
    left: 0;
    opacity: 0;
}

#page1 {
    height: 100vh;
    width: 100%;
    background: whitesmoke;
    position: relative;
}

#cursor {
    height: 7.5vw;
    width: 7.5vw;
    background: #FF5F38;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
}

#page1 video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}

#page1-content {
    height: 100%;
    position: relative;

    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 999;

}

#page1-content nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vw 8vw;
    position: relative;
    z-index: 999;
}

#page1-content nav h3 {
    font-size: 1.4vw;
    font-weight: 500;
    letter-spacing: .8px;
    position: relative;
    z-index: 9999;
}

#page1-content nav #close-menu-btn.active {
    display: none;
}

#close-menu-btn {
    font-size: 1.5vw;
    opacity: 1;
    text-decoration: underline;
    position: absolute;
    top: 3.8vw;
    right: 7vw;
    z-index: 999;
    cursor: pointer;
}

#page1-content nav h4 {
    font-size: 1.4vw;
    cursor: pointer;
    text-decoration: underline;
    position: relative;
    z-index: 999;
}

#page1-content h1 {
    font-size: 27vw;
    text-transform: uppercase;
    font-weight: 999;
    line-height: 22vw;
    letter-spacing: -15px;
    font-family: 'IBM Plex Sans';
    white-space: nowrap;
    width: 100%;
    z-index: 3;
}


#page2,
#page4 {
    height: 100vh;
    width: 100%;
    padding: 6vw 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#page4 h4 {
    scale: 0;
    opacity: 0;
}
.elm-top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2vw;
    position: relative;
    border-bottom: 2px solid black;
}
.elm-top::after {
    content: '';
    height: 2px;
    position: absolute;
    bottom: 0;
}
.elm-top h4 {
    font-size: 1.6vw;
    padding-bottom: 5px;
    font-weight: 400;
}
#elem {
    margin: 2vw 0;
}

#elem h1 {
    overflow: hidden;
    font-size: 4vw;
    font-weight: 500;
    line-height: 100%;
}


#page3 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#page3-top {
    width: 100%;
    margin: 3vw auto;
    margin-top: 6vw;
}

#page3-top h4 {
    margin-bottom: 1vw;
    font-size: 2vw;
    font-weight: 500;
}

#page3-top h4 span {
    font-size: 1.5vw;
    background-color: black;
    color: white;
    padding: 10px 15px;
    border-radius: 50px;
}

#page3-top h2 {
    font-size: 3vw;
    font-weight: 600;
}

#page3-elements {
    margin-top: 5vw;
    width: 90%;
    margin-bottom: 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1vw;
    position: relative;
}

#page3-elements .box {
    height: 100%;
    width: 33%;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.5s ease;
}

#page3-elements .box video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;

}

#page3-elements .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;

    transition: all 0.5s linear;
}

#page3-elements .box:hover img {
    opacity: 0;
}






#page5 {
    width: 100%;
    height: 100vh;
    position: relative;
    /* background: black; */
}

.page5-video {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#page5-cursor {
    height: 7.5vw;
    width: 7.5vw;
    background: #000000;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    opacity: 0;
}

#page5-cursor p {
    color: #fff;
    user-select: none;
}

#page5 svg {
    width: 65%;
    height: 65%;
    position: absolute;
}

#page5 svg.active {
    animation: spin 2s linear infinite;
}

.page5-video h2 {
    font-size: 4vw;
    color: rgb(255, 255, 255);
    position: absolute;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#page6 {
    width: 100%;
    height: 80vh;
    position: relative;
    margin: 6vw 0;
}

#Page6-top {
    width: 100%;
    height: 100%;
}

#page6-top h1 {
    margin: 0 4vw;
    font-size: 8vw;
    border-bottom: 1px solid black;
    font-weight: 100;
}

#swiper-div {
    height: 60vh;
    width: 100%;
    position: absolute;
    top: 6vw;
    padding: 0 4vw;
    overflow: visible;
}



.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px !important;
    cursor: pointer;
}

.swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
}


footer {
    position: relative;
    height: 100%;
}
.footer-heading {
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.footer-heading p {
    font-size: 1.5vw;
    font-weight: 100;
    font-family: heading1;
}
.footer-heading h2 {
    font-size: 4vw;
    font-weight: 100;
    text-decoration: underline;
    text-decoration-color: rgb(0, 0, 0);
    text-decoration-style: solid;
    text-decoration-thickness: 4px;
}
.main-footer {
    width: 100%;
    height: 60vh;
    background: #000000;
    color: gainsboro;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2vw 3vw;
}

.footer-top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    overflow: hidden;
}
.footer-top-left h2 {
    font-size: 2vw;
    display: inline-block;
}
.footer-top-left button:hover {
    background: gainsboro;
    color: #000000;
}
.footer-top-left button {
    display: inline-block;
    background: transparent;
    color: gainsboro;
    padding: 15px 20px;
    border: 2px solid gainsboro;
    border-radius: 5px;
    margin-top: 1.5vw;
    font-size: 1.2vw;
    outline: 0;
    cursor: pointer;
    position: relative;
    transition: 0.5s;
}
.footer-top-right {
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 8vw;
}
.footer-top-right ul li {
    padding-bottom: 0.5rem;
    cursor: pointer;
}

.footer-top-right .footer-socail-media a {
    color: gainsboro;
}

.footer-bottom {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.brand {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: #000000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.brand h1 {
    text-transform: uppercase;
    display: inline-block;
    font-size: 13vw;
}

.brand h1 span {
    display: inline-block;
    text-transform: uppercase;
}
